dialog {
  margin: auto;
  padding: 20px;
  border-color: var(--darkbrown);
  min-width: 25%;
  text-align: center;

  input,
  select,
  option {
    color: var(--darkbrown);
    text-align: left;
  }

  form {
    div {
      display: flex;
      justify-content: space-between;
      margin: 10px;

      label::after {
        content: ":";
      }
    }
  }

  .modalNav {
    display: flex;
    justify-content: center;
  }

  button {
    border: inherit;
    background-color: inherit;
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
  }

  .fa-circle-check {
    color: green;
  }

  .fa-circle-xmark {
    color: red;
  }
}