:root {
  --darkbrown: #855745;
  --lightbrown: #E0D5D1;
  --transitionTime: 0.3s
}

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  line-height: 1.2em;
}

html {
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: -0.2px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 10px 0;
}

p a:hover {
  font-weight: 600;
  transform: scale(1.05);
  color: var(--darkbrown);
  text-decoration: underline;
}

h1 {
  margin-bottom: 50px;
}

h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0 25px;
  background-color: white;
  z-index: 10;
}

nav {
  min-width: 30%;
  transition: var(--transitionTime);

  ul {
    display: flex;
    background-color: white;
    min-width: 200px;

    li {
      padding: 0 10px;
      height: 50px;

      &:hover {
        color: var(--darkbrown);
        font-weight: 600;
        transform: scale(1.05);
      }

      a {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

#connexion-status {
  display: flex;
  flex-wrap: wrap;
  width: min-content;

  a {
    display: inline-block;

    &:hover {
      font-weight: 600;
      transform: scale(1.05);
      text-decoration: underline;
    }
  }
}

#menu-display {
  width: 50px;
}

.toggle-menu,
.close-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

#userConnected {
  text-decoration: underline;
}

.active {
  font-weight: 800;
  background-color: var(--lightbrown);
  border-radius: 10px;
  padding: inherit;
}

#main-wrapper {
  padding: 100px 15%;
  position: relative;
  z-index: 1;
}

#bcgd-container {
  position: fixed;
  bottom: -10%;
  right: -10%;
  background-image: url('../img/bcgd_book.png');
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  width: 50%;
  height: 60vh;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  border-top: 1px solid black;
  background-color: white;
  z-index: 5;
  position: absolute;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

hr {
  width: 100%;
}

section {
  margin: 50px 0 0 0;
  width: 100%;
}

.addButton {
  display: flex;
  align-items: center;
  background-color: #67DA73;
  padding: 10px 20px;
  border-radius: 15px;
  border: 0;
  font-weight: bold;
  font-size: inherit;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;

  i {
    margin-right: 10px;
  }
}

.modifyButton {
  background-color: #FFD66D;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
  text-decoration: underline;
  border: 0;
  font-size: inherit;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
}

.editButton {
  color: var(--darkbrown);
  cursor: pointer;
}

/*/////////////////////////////////////////////////////*/
/*/////////////////// media queries ///////////////////*/
/*/////////////////////////////////////////////////////*/

@media screen and (max-width: 1000px) {
  nav {
    position: fixed;
    top: 80px;
    right: 10px;
    transform: translateX(110%);
    border: 1px solid black;

    ul {
      flex-direction: column;
    }

    li {
      border-bottom: 1px solid var(--darkbrown);
      margin: 5px 10px;
    }
  }

  #connexion-status {
    width: 100%;
    justify-content: center;

    a {
      margin: 0 2%;
    }
  }
}

@media screen and (min-width: 1000px) {
  #menu-display {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #main-wrapper {
    padding: 100px 5%;
  }
}

@media screen and (max-width: 800px) {
  #main-wrapper {
    padding: 100px 0;

  }

}