{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/list.css')}}">
{% endblock %}

{% block body %}

<h1>Liste des stagiaires :</h1>

<a href="#" class="addButton">
  <i class="fa-solid fa-circle-plus"></i> Créer un stagiaire
</a>

<div id="components-container">
  {% for stagiaire in stagiaires %}

  <div class="component">
    <span class="name">
      {{stagiaire.nom}} {{stagiaire.prenom}}
    </span>
    <span class="link">
      <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"><i class="fa-solid fa-link"></i> voir les infos</a>
    </span>
    <span class="delete-link">
      <a href="#">supprimer</a>
    </span>
  </div>

  {% endfor %}
</div>

{% endblock %}