{% extends 'base.html.twig' %}

{% block title %}Infos stagiaire{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

<h1>Infos stagiaire :</h1>


{{stagiaire.nom}}
{{stagiaire.prenom}}


{% endblock %}