{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/list.css')}}">
{% endblock %}

{% block body %}

<h1>Liste des modules</h1>

<a href="#" class="addButton">
  <i class="fa-solid fa-circle-plus"></i> Créer un module
</a>

<div id="components-container">
  {% for module in modules %}

  <div class="component">
    <span class="name">
      {{module.nomModule}}
    </span>

    <span class="delete-link">
      <a href="#">supprimer</a>
    </span>
  </div>

  {% endfor %}
</div>

{% endblock %}